.alert {
    padding: 15px;
    border: 1px solid #d6e9c6;
    border-radius: 4px;
    color: #3c763d;
    background-color: #dff0d8;
}

#field {
    width: 200px;
    height: 150px;
    border: 10px solid black;
    background-color: #00FF00;
    overflow: hidden;
    position:relative;
    cursor: pointer;
}

#ball {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    transition: 1s all;
}

.pane {
    background: #edf5e1;
    padding: 10px 20px 10px;
    border-top: solid 2px #c4df9b;
    position: relative;
}

p {
    margin: 0;
    padding: 0 0 .5em;
}

.remove-button {
    position: absolute;
    font-size: 110%;
    top: 0;
    color: darkred;
    right: 10px;
    display: block;
    width: 24px;
    height: 24px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.panes1 {
    margin: 10px auto;
    width: 470px;
}
  
  h3 {
    margin: 0;
    padding-bottom: .3em;
    padding-right: 20px;
    font-size: 1.1em;
}